@model ApplicationUser

<div class="bg-light">
    <p class="display-4">Manage storages</p>
</div>
<div class="bg-light">
    <p class="p-3">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#AddStorageForm">
            Add storage
        </button>
    </p>

    <div class="collapse" id="AddStorageForm">
        <div class="row">
            <div class="col-7">
                <div class="ml-5">
                    <h5>Add new storage</h5>
                    <form class="form-group" asp-validation-summary="ModelOnly" asp-action="AddNewStorage">
                        <label class="font-weight-bold">Storage name:</label>
                        <input class="form-control" type="text" maxlength="50" name="storageName" />
                        <div class="form-group">
                            <label class="font-weight-bold">Storage type:</label>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="storageType" value="Fridge" />
                                    <label class="form-check-label">Fridge</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="storageType" value="Freezer" />
                                    <label class="form-check-label">Freezer</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="storageType" value="Other" />
                                    <label class="form-check-label">Other</label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-2">
                            <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#CreateCommon">
                                Add to new resource group
                            </button>
                            <div class="form-group collapse" id="CreateCommon">
                                <label class="font-weight-bold">Common resources name:</label>
                                <input class="form-control" type="text" maxlength="50" name="commonResourceName" />
                            </div>
                        </div>

                        <div>
                            <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#AddToCommon">
                                Add to existing resource group
                            </button>
                        </div>
                        <div class="form-group collapse" id="AddToCommon">
                            <p class="font-weight-bold">Select resource group</p>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="commonResourceId" value="" />
                                    <label class="form-check-label">New resource group</label>
                                </div>
                                @foreach (var userCommonResource in Model.UserCommonResource)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="commonResourceId" value="@userCommonResource.CommonResourceId"/>
                                        <label class="form-check-label">@userCommonResource.CommonResource.CommonResourceName</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="pt-2">
                            <button class="btn btn-success" type="submit">Add new</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-5">
                <div class="mr-5">
                    <h5>Add existing storage</h5>
                    <form class="form-group" asp-action="AddExistingStorage">
                        <label class="font-weight-bold">StorageID</label>
                        <input class="form-control" type="text" maxlength="50" name="commonResourceId" />
                        <div class="pt-2">
                            <button class="btn btn-success" type="submit">Add existing</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light">
    <div class="list-group">
        @foreach (var userCommon in Model.UserCommonResource)
        {
            <div class="card m-1">
                <div class="card-header font-weight-bold">
                    @userCommon.CommonResource.CommonResourceName
                </div>
                <div>
                    <button class="btn btn-info btn-sm m-1" type="button" data-toggle="collapse" data-target="#@userCommon.CommonResource.CommonResourceName">
                        Storage list
                    </button>
                </div>
                <div class="collapse" id="@userCommon.CommonResource.CommonResourceName">

                    @foreach (var storage in userCommon.CommonResource.Storages)
                    {
                        <div class="list-group-item">
                            <div>
                                @storage.StorageName
                            </div>
                            <div>
                            @storage.StorageType
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
