@using System.Security.Claims
@model ApplicationUser
<!--Title-->
<div class="bg-light">
    <p class="display-4">Manage storages</p>
</div>

<!--Add storage-->
<div class="bg-light">
    <p class="p-3">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#AddStorageForm">
            Add storage
        </button>
    </p>

    <div class="collapse" id="AddStorageForm">
        <div class="row">
            <div class="col-7">
                <div class="ml-5">
                    <h5>Add new storage</h5>
                    <form class="form-group" asp-validation-summary="ModelOnly" asp-action="AddNewStorage">
                        <label class="font-weight-bold">Storage name:</label>
                        <input class="form-control" type="text" maxlength="50" name="storageName" />
                        <div class="form-group">
                            <label class="font-weight-bold">Storage type:</label>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="storageType" value="Fridge" />
                                    <label class="form-check-label">Fridge</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="storageType" value="Freezer" />
                                    <label class="form-check-label">Freezer</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="storageType" value="Other" />
                                    <label class="form-check-label">Other</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-2">
                                    <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#CreateCommon">
                                        Add to new resource group
                                    </button>
                                    <div class="form-group collapse" id="CreateCommon">
                                        <label class="font-weight-bold">Common resources name:</label>
                                        <input class="form-control" type="text" maxlength="50" name="commonResourceName" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div>
                                    <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#AddToCommon">
                                        Add to existing resource group
                                    </button>
                                </div>
                                <div class="form-group collapse" id="AddToCommon">
                                    <p class="font-weight-bold">Select resource group</p>
                                    <div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="commonResourceId" value="" />
                                            <label class="form-check-label">New resource group</label>
                                        </div>
                                        @foreach (var userCommonResource in Model.UserCommonResource)
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="commonResourceId" value="@userCommonResource.CommonResourceId" />
                                                <label class="form-check-label">@userCommonResource.CommonResource.CommonResourceName</label>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pt-2">
                            <button class="btn btn-success" type="submit">Add new</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-5">
                <div class="mr-5">
                    <h5>Add existing common</h5>
                    <form class="form-group" asp-action="AddExistingCommon">
                        <label class="font-weight-bold">CommonID</label>
                        <input class="form-control" type="text" maxlength="50" name="commonResourceId" />
                        <div class="pt-2">
                            <button class="btn btn-success" type="submit">Add existing</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--List common resources-->
<div class="bg-light">
    <div class="list-group">
        @foreach (var userCommon in Model.UserCommonResource)
        {
            <div class="card m-1 bg-light">
                <div class="card-header">
                    <div class="h3" data-toggle="collapse" data-target="#@AddUnderscore(AddUnderscore(userCommon.CommonResourceId))">
                        @userCommon.CommonResource.CommonResourceName
                    </div>
                    <div id="@AddUnderscore(AddUnderscore(userCommon.CommonResourceId))" class="collapse">
                        <div class="row">
                            <div class="text-muted col-8">
                                <p>
                                    CommonID: @userCommon.CommonResourceId
                                </p>
                                @if (userCommon.CommonResource.OwnerId == this.User.FindFirstValue(ClaimTypes.NameIdentifier))
                                {
                                    <p>
                                        You are owner of this common resources.
                                    </p>
                                }
                            </div>
                            <form class="form-group col-4" asp-controller="Delete" asp-action="Index">
                                <button class="btn btn-sm btn-danger">Delete common resources</button>
                                <input type="hidden" name="id" value="@userCommon.CommonResourceId" />
                                <input type="hidden" name="ownerId" value="@userCommon.CommonResource.OwnerId" />
                                <input type="hidden" name="name" value="@userCommon.CommonResource.CommonResourceName" />
                                <input type="hidden" name="typePost" value="CommonResource" />
                            </form>
                        </div>
                    </div>
                    <div data-toggle="collapse" data-target="#@StoragesIdString(userCommon)">
                        <p class="m-0">
                            Show all
                        </p>
                    </div>
                </div>

                <!--List storages and its items-->
                @foreach (var storage in userCommon.CommonResource.Storages)
                {
                    <div class="list-group-item bg-light">
                        <div class="row mb-1">
                            <div class="col-sm-6">
                                <div class="h4 text-center" data-toggle="collapse" data-target="#@AddUnderscore(storage.StorageId)">
                                    @storage.StorageName
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <form class="text-right" method="post">
                                    <button class="btn btn-sm btn-danger" name="Id" value="@storage.StorageId" asp-controller="Delete" asp-action="Index">Delete storage</button>
                                    <input type="hidden" name="name" value="@storage.StorageName" />
                                    <input type="hidden" name="typePost" value="Storage" />
                                </form>
                            </div>
                            <div class="col-sm-4 text-right">
                                <form class="mr-4" method="post">
                                    <button class="btn btn-sm btn-secondary" name="storageId" value="@storage.StorageId" asp-controller="Product" asp-action="AddProduct">Add product</button>
                                </form>
                            </div>
                        </div>

                        <div class="collapse" id="@AddUnderscore(storage.StorageId)">
                            <!--Product table-->
                            <div class="table-responsive text-center">
                                <table class="table table-sm table-striped table-bordered table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th class="align-middle" scope="col">Product</th>
                                            <th class="align-middle" scope="col">Bulk</th>
                                            <th class="align-middle" scope="col">Buy Date</th>
                                            <th class="align-middle" scope="col">Expire</th>
                                            <th class="align-middle" scope="col">Comment</th>
                                            <th class="align-middle" scope="col">Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var product in storage.Products)
                                        {
                                            <tr>
                                                <th class="align-middle" scope="row">@product.ProductName</th>
                                                <td class="align-middle">@product.Quantity.ToString(System.Globalization.CultureInfo.InvariantCulture)</td>
                                                <td class="align-middle">@product.BuyDate.ToString("dd-MM-yyyy")</td>
                                                <td class="align-middle @ExpirationComes(product.ExpirationDate)">@product.ExpirationDate?.ToString("dd-MM-yyyy")</td>
                                                <td class="align-middle">@product.Comment</td>
                                                <td class="align-middle">
                                                    <form class="d-inline" method="post">
                                                        <button class="btn btn-sm btn-success" name="id" value="@product.ProductId" asp-controller="Product" asp-action="EditProduct">Edit</button>
                                                        <input type="hidden" name="storageId" value="@storage.StorageId" />
                                                    </form>
                                                    <form class="d-inline" method="post">
                                                        <button class="btn btn-sm btn-danger" name="id" value="@product.ProductId" asp-controller="Delete" asp-action="Index">Delete</button>
                                                        <input type="hidden" name="storageId" value="@storage.StorageId" />
                                                        <input type="hidden" name="name" value="@product.ProductName" />
                                                        <input type="hidden" name="typePost" value="Product" />
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

@functions
{

    private string AddUnderscore(string str) => "_" + str;

    private string ExpirationComes(DateTime? date)
    {
        if (date == null || ((DateTime)date - DateTime.Now).TotalDays > 3)
        {
            return "";
        }
        return ((DateTime)date - DateTime.Now).TotalDays < 1 ? "bg-danger rounded text-white" : "bg-warning rounded";
    }

    private string StoragesIdString(UserCommonResource userCommon)
    {
        var idString = "";
        if (userCommon.CommonResource.Storages.Count == 0) return idString;
        idString = userCommon.CommonResource.Storages.Aggregate(idString, (current, storage) => current + (AddUnderscore(storage.StorageId) + ",#"));
        idString = idString.Substring(0, idString.Length - 2);
        return idString;
    }

}
