@model ApplicationUser
<!--Title-->
<div class="bg-light">
    <p class="display-4">Manage storages</p>
</div>

<!--Add storage-->
<div class="bg-light">
    <p class="p-3">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#AddStorageForm">
            Add storage
        </button>
    </p>

    <div class="collapse" id="AddStorageForm">
        <div class="row">
            <div class="col-7">
                <div class="ml-5">
                    <h5>Add new storage</h5>
                    <form class="form-group" asp-validation-summary="ModelOnly" asp-action="AddNewStorage">
                        <label class="font-weight-bold">Storage name:</label>
                        <input class="form-control" type="text" maxlength="50" name="storageName" />
                        <div class="form-group">
                            <label class="font-weight-bold">Storage type:</label>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="storageType" value="Fridge" />
                                    <label class="form-check-label">Fridge</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="storageType" value="Freezer" />
                                    <label class="form-check-label">Freezer</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="storageType" value="Other" />
                                    <label class="form-check-label">Other</label>
                                </div>
                            </div>
                        </div>

                        <div class="mb-2">
                            <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#CreateCommon">
                                Add to new resource group
                            </button>
                            <div class="form-group collapse" id="CreateCommon">
                                <label class="font-weight-bold">Common resources name:</label>
                                <input class="form-control" type="text" maxlength="50" name="commonResourceName" />
                            </div>
                        </div>

                        <div>
                            <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#AddToCommon">
                                Add to existing resource group
                            </button>
                        </div>
                        <div class="form-group collapse" id="AddToCommon">
                            <p class="font-weight-bold">Select resource group</p>
                            <div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="commonResourceId" value="" />
                                    <label class="form-check-label">New resource group</label>
                                </div>
                                @foreach (var userCommonResource in Model.UserCommonResource)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="commonResourceId" value="@userCommonResource.CommonResourceId" />
                                        <label class="form-check-label">@userCommonResource.CommonResource.CommonResourceName</label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="pt-2">
                            <button class="btn btn-success" type="submit">Add new</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-5">
                <div class="mr-5">
                    <h5>Add existing common</h5>
                    <form class="form-group" asp-action="AddExistingCommon">
                        <label class="font-weight-bold">CommonID</label>
                        <input class="form-control" type="text" maxlength="50" name="commonResourceId" />
                        <div class="pt-2">
                            <button class="btn btn-success" type="submit">Add existing</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!--List common resources-->
<div class="bg-light">
    <div class="list-group">
        @foreach (var userCommon in Model.UserCommonResource)
        {
            <div class="card m-1">
                <div class="card-header">
                    <div class="h4" data-toggle="collapse" data-target="#@RemoveLeadingDigits(RemoveLeadingDigits(userCommon.CommonResourceId).Substring(1))">
                        @userCommon.CommonResource.CommonResourceName
                    </div>
                    <div id="@RemoveLeadingDigits(RemoveLeadingDigits(userCommon.CommonResourceId).Substring(1))" class="collapse">
                        <div class="row">
                            <div class="text-muted col-8">
                                CommonID: @userCommon.CommonResourceId
                            </div>
                            <form class="form-group col-4" asp-controller="Storage" asp-action="DeleteCommonResources">
                                <button class="btn btn-sm btn-danger">Delete common resources</button>
                                <input type="hidden" name="commonResourceId" value="@userCommon.CommonResource.CommonResourceId" />
                            </form>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-info btn-sm m-1" type="button" data-toggle="collapse" data-target="#@RemoveLeadingDigits(userCommon.CommonResource.CommonResourceId)">
                        Storage list
                    </button>
                </div>
                <div class="collapse" id="@RemoveLeadingDigits(userCommon.CommonResource.CommonResourceId)">

                    @foreach (var storage in userCommon.CommonResource.Storages)
                    {
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="font-weight-bold" data-toggle="collapse" data-target="#@RemoveLeadingDigits(storage.StorageId)">
                                        @storage.StorageName
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <form method="post">
                                        <button class="btn btn-sm btn-secondary" name="storageId" value="@storage.StorageId" asp-controller="Product" asp-action="AddProduct">Add product</button>
                                    </form>
                                </div>
                            </div>

                            <div class="collapse" id="@RemoveLeadingDigits(storage.StorageId)">
                                <div class="list-group pt-1">
                                    <div class="list-group-item">
                                        <div class="row">
                                            <div class="col-2 text-center">Product name</div>
                                            <div class="col-1 text-center">Bulk</div>
                                            <div class="col-2 text-center">Buy date</div>
                                            <div class="col-2 text-center">Expiration date</div>
                                            <div class="col-3 text-center">Comment</div>
                                        </div>
                                    </div>
                                    @foreach (var product in storage.Products)
                                    {
                                        <div class="list-group-item">
                                            <div class="row">
                                                <div class="col-2 text-center">@product.ProductName</div>
                                                <div class="col-1 text-center">@product.Quantity</div>
                                                <div class="col-2 text-center">@product.BuyDate.ToString("dd-MM-yyyy")</div>
                                                <div class="col-2 text-center @ExpirationComes(product.ExpirationDate)">@product.ExpirationDate?.ToString("dd-MM-yyyy")</div>
                                                <div class="col-3 text-center">@product.Comment</div>
                                                <div class="col-2">
                                                    <form method="post">
                                                        <button class="btn btn-sm btn-danger" name="productId" value="@product.ProductId" asp-controller="Product" asp-action="DeleteProduct">Delete product</button>
                                                        <input type="hidden" name="storageId" value="@storage.StorageId" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

@functions
{

    public string RemoveLeadingDigits(string str)
    {
        while (char.IsDigit(str[0]) || str[0] == '-')
        {
            str = str.Substring(1);
        }
        return str;
    }

    public string ExpirationComes(DateTime? date)
    {
        if (date ==null || ((DateTime) date - DateTime.Now).TotalDays > 3)
        {
            return "";
        }
        if (((DateTime) date - DateTime.Now).TotalDays < 2)
        {
            return "bg-danger rounded";
        }
        return "bg-warning rounded";
    }
}
