@using System.Globalization
@model Product
@{
    ViewData["Title"] = "Edit product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-light">
    <p class="display-4">Edit product</p>
</div>
<div class="bg-light">
    <div class="m-1">
        <form class="form-group" asp-controller="Product" asp-action="AddProductDb">
            <!-- product name -->
            <div class="form-group">
                <label asp-for="ProductName" class="font-weight-bold"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <!-- type selection -->
            <div class="form-group">
                <div class="font-weight-bold">Product type:</div>
                <div class="form-group m-2">
                    @foreach (var type in Enum.GetValues(typeof(ProductType)))
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="Type" value="@type.ToString()" checked="@(type.ToString()==Model.Type.ToString())" />
                            <label class="form-check-label">@type.ToString()</label>
                        </div>
                    }
                </div>
            </div>
            <!-- quantity type -->
            <div class="form-group">
                <select class="form-control">
                    @foreach (var type in Enum.GetValues(typeof(QuantityType)))
                    {
                        <option name="quantityType" value="@type.ToString()" selected="@(type.ToString() == Model.QuantityType.ToString())">@type.ToString()</option>
                    }
                </select>
            </div>

            <!-- quantity -->
            <div class="form-group">
                <label asp-for="Quantity" class="font-weight-bold"></label>
                <input asp-for="Quantity" class="d-block form-control" type="number" value="@Model.Quantity.ToString(CultureInfo.InvariantCulture)" min="0" step="0.01" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <!-- buy date -->
            <div class="form-group">
                <label class="font-weight-bold">Buy date</label>
                <input name="buyDate" class="form-control" type="date" value="@Model.BuyDate.ToString("yyyy-MM-dd")">
            </div>

            <!-- expiration date -->
            <div class="form-group">
                <label class="font-weight-bold">Expiration date</label>
                <input name="expirationDate" class="form-control" type="date" value="@ExpirationDate(Model.ExpirationDate)">
            </div>

            <!-- comment -->
            <div class="form-group">
                <label class="font-weight-bold">Comment</label>
                <input name="comment" class="form-control" type="text" maxlength="255" value="@Model.Comment" />
            </div>

            <!-- submit button -->
            <div class="m-2">
                <button class="btn btn-success" type="submit" asp-controller="Product" asp-action="EditProductDb">Confirm edit</button>
            </div>
            <input name="storageId" type="hidden" value="@Model.StorageId" />
            <input name="productId" type="hidden" value="@Model.ProductId" />
        </form>
    </div>
</div>

@functions {
    private string IsDefault(string productType, Enum modelType, string inputType)
    {
        if (productType == modelType.ToString())
        {
            if (inputType == "checkbox")
            {
                return "checked";
            }
            if (inputType == "select")
            {
                return "selected";
            }
        }
        return "";
    }

    public string ExpirationDate(DateTime? date)
    {
        if (date == null)
        {
            return "";
        }
        return ((DateTime)date).ToString("yyyy-MM-dd");
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}